
@media(max-width: 524px) {
    .header {
        display: block;
        flex-direction: column;
        padding: 0 15px;
    }

    .boas-vindas {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 7px;
        margin-top: 25px;
    }
    
    .menu {
        
        margin-top: 15px;
    }

    .menu li {
        padding: 15px 0;
    }

    .foto-faxada {
        padding: auto;
    }

    .container {
        padding: 0 15px;
    }

    }


