body{
    font-family: 'Poppins', sans-serif;
    min-width: 724px;
    max-width: 1024px;
    background-image: linear-gradient(to top , green, white);
    padding: 25px;
        
}

h1{
    padding: 35px;
}

p{  
    margin: 35px;
}

header{
 padding: 25px;

}


ul{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}


.foto-faxada{
    padding: 25px;
    max-width: 1280px;
    border-radius: 35px;
}

.container{
        display: flex;
        flex-flow: nowrap;
        flex-direction: row-reverse;
        justify-content: center;
        text-align: center;
        justify-content: space-between;
        justify-content: space-around;
        justify-content: space-evenly;
        flex-grow: 12px;
        padding: 35px;  
                 
    }

 .novidades{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    border-radius: 35px;
    border: solid white;
}

.resumo{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: ;
    border-radius: 35px;
    border: solid white;    
}

.texto-resumo{
    display: flex;
    flex-direction: row;
}

.foto-resumo {
    width: 45px;
    align-items: end;
    text-align: end;
    padding: 0.5px;
}

.foto-enel{
    flex-wrap: wrap;
    width: 45px;
    align-items: end;
    text-align: end;
    padding: 0.5px;

}

.visao-do-mes{
width: 100px;
padding: 15px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 15px;
border: solid white ;

}

.mes{
    color: green;
}

span{

    color: red;
}

.foto-faxada{
    padding: 25px;
    max-width: 1280px;
    border-radius: 35px;
}

.logo-sabesp{
    width: 350px;
    height: 350px;
}

.logo-enel{
    align-items: center;
    text-align: center;
}

.logo-iptu{
    width: 350px;
    height: 350px;

}


