@font-face {
    font-family: 'Milky';
    src: url('/src/fontes/MilkyNice.otf'),
         url('//src/fontes/MilkyNice.ttf');
}


body{

    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top , green, white);
    height: 100vh;    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.boas-vindas{
    display: flex;
    width: 100%;
    color: blue;
    text-transform: uppercase;   
}

.menu {
    display: flex;
    align-items: center;
}


.menu li a{
   padding: 10px 5px;
   
}

.menu a{
    border: solid wheat;
    font-family: 'Milky';
}

.imagens{
    
    min-width: 320px;
    max-width: 900px;
    margin: 15px auto;
    padding: 0 15px;
    
    
}

.imagens img{
    width: 100%;
}

main{
    padding: 25px;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto; 
    padding: 0 15px; 
}

h1{
    font-family: 'Milky';
    padding: 35px;
    font-size: 15pt;
    color: red;    
}

h2{
    font-family: 'Milky';
    padding: 40px;
    font-size: 14.5px;
    color: blueviolet;
}

ul{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

p{
    padding: 25px;
}

a{  
    text-decoration: none;
    
}


.descrisao{
    text-align: justify;
    padding: auto;    
}

.titulo-da-pagina{
    text-align: justify;
    padding: 15px;

}
 
.container{
    margin-right: 5px 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 0 15px;               
}

.novidades{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    border-radius: 35px;
    border: solid white;
    padding: 0 15px;
}

.resumo{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: end;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    border: solid white;    
}

.texto-resumo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.aviso{
    color: brown;
    font-weight: bold;
}

.container-1{
    width: auto;
    height: auto;
    margin: 2px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: start;
    justify-content: space-between;
    justify-content: space-around;
    padding: auto; 
        
}

.visao-do-mes{
    width: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: auto;
    border-radius: 25px;
    border: solid white;
    padding: 25px;
    margin: auto;
    height: auto;
}


.mes{
    color: brown;
    text-align: center;
    padding: 0.5rem;    
}

.fatura{
    padding: 15px 25px;
}

.acordo{
    padding: 15px 25px;
}

.total{
    padding: 25px;
}

.divisao-das-contas{
    padding: 25px;
    margin-bottom: 0;
    font-weight: bold;
}

.container-1 li{
    color: #ffff;
}

.dropdown-menu{
    position: absolute;
    display: none; 
    padding-bottom: 5px;   
}

.dropdown-menu a{
    display: block;
    padding: 25px;
    background-color: aquamarine;
    height: 0.3rem;
       
}
.dropdown:hover .dropdown-menu{
    display: block;
    padding: 15px;
}

.dropdown{
    display: flex;
}

span{

    color: black;
    text-align: center;
}

.pdf{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;  
    padding: 25px;   
    border:#ffff solid;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.pdf:hover{
    background-color: red;
}

.historico-de-pagamento{
    padding: 15px;
    color: burlywood;
    border-radius: 25px;
    border: solid white ;
    justify-content: space-between;
    justify-content: space-around;
    margin: 85px 50px;
    background-color: lightsalmon;
   
}

.historico-de-pagamento a{
    color: white;
    text-decoration: none;
}

.historico-de-pagamento:hover{
    background-color: blueviolet;
}

.foto-faxada{
    padding: auto;
    width: 50vw;
    height: 50vwpx;
    border-radius: 35px;
    margin: auto;
}

.foto-resumo {
    width: 45px;
    align-items: end;
    text-align: end;
    padding: 0.5px;
}

.foto-enel{
    flex-wrap: wrap;
    width: 45px;
    align-items: end;
    text-align: end;
    padding: 0.5px;
}


.foto-faxada{
    width: 100%;
    border-radius: 35px;
}

.logo-sabesp {
    width: 100%;
}

.logo-enel {
    width: 100%;        
}

.logo-iptu{
   width: 100%;
}

footer {
    text-align: center;
}

