
body{

    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top , green, white);
    margin: 0 auto;
            
}

main{

    min-width: 320px;
    max-width: 1280px;
    margin: auto;
}

h1{
    padding: 35px;
}

header{
    border: solid green;
    padding: auto;
    align-items: center;
    text-align: center;
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}


.foto-faxada{
    padding: 25px;
    width: 100%;
    border-radius: 35px;
}
  
.container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        justify-content: space-between;
        justify-content: space-around;
        justify-content: space-evenly;
        padding: auto;
                     
    }

 .novidades{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    border-radius: 35px;
    border: solid white;
    padding: 35px;
}

.resumo{
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: end;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    border: solid white;    
}

.texto-resumo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foto-resumo {
    width: 45px;
    align-items: end;
    text-align: end;
    padding: 0.5px;
}

.foto-enel{
    flex-wrap: wrap;
    width: 45px;
    align-items: end;
    text-align: end;
    padding: 0.5px;

}

.visao-do-mes{
width: 100px;
padding: 15px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 15px;
border: solid white ;

}

.mes{
    color: green;
}

span{

    color: red;
}

.foto-faxada{
    max-width: 100%;
    border-radius: 35px;
}

.logo-sabesp{
    width: 350px;
    height: 350px;
}

.logo-enel{
    align-items: center;
    text-align: center;
}

.logo-iptu{
    width: 350px;
    height: 350px;

}

@media screen and (max-width: 1280px) {
    .container{
        width: 375px;
        display: block;
        background-image: none;
    }

    }

